.calendar {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 20px auto;
}
.current-calendars{
  display: flex;
  gap: 50px;
  width:fit-content;
  margin: 20px auto;

}
.month{
  text-align: center;
  font-weight:500;
  font-size: 18px;
  letter-spacing: 1.1px;
  margin-bottom: 15px;

}
.day-grid{
  display: grid;
  grid-template-columns: repeat(7,47.773px);
  gap: 4px;
  margin-bottom: 5px;
}
.day-grid > div{
  text-align: center;
  user-select: none;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  
  gap: 4px;
}
.calendar-day {
  background: #EAEFFE;
  padding: 16px;
  text-align: center;
  user-select: none;
  transition: background 0.2s;
  pointer-events: none;
}

.calendar-day.selected {
  background: #170380;
  color: #EAEFFE;
}
.calendar-day.available{
  cursor: pointer;
  pointer-events: all;
}
.calendar-day.unavailable{
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.382);
  user-select: none;
  pointer-events: none;
}
#startingMonth{
  background-color: #EAEFFE;
  border: 1px black solid;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.12);
}
