body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    background-color:#EAEFFE;;
}
@font-face {
    font-family: 'Nohemi';
    src: url('/fonts/nohemi-font-family-1758225104-0/Nohemi-Regular-BF6438cc4d0e493.ttf');
    font-weight: normal;
    font-size: normal;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
